<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="transport" type="Messaging.Transport.Configuration.TransportSection, Messaging" />
  </configSections>
  <transport>
    <connections>
      <!--SWAP THE <connection LINES BELOW TO SWITCH BETWEEN TIBCO EMS AND FUSE (ACTIVEMQ) BUS TECHNOLOGIES-->
      <connection name="connection" vendorConfiguratorType="activemq" uri="tcp://localhost:61616" ttl="60">
      </connection>
    </connections>
    <channels>
      <!--channelName is the actual Topic / Queue name (or equivalent) configured in the bus technology-->
      <channel name="sender" channelName="Validation.queue" isQueue="true" />
    </channels>
    <senders>
      <sender name="BondSender" content="Model.Bond, Model" connectionName="connection" channel="sender" serializer="application/dotnet+xml" version="Metadata.V1"></sender>
    </senders>
  </transport>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Linq" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>